#wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}
.width50{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #9a9797;
    width: 47%;
    margin: 5px;
}
.buttonDetails{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
}
p{
    font-size: 20px;
}